
#about-body h1 {
    text-align: center;
    box-sizing: content-box;
}

.about-images{
    aspect-ratio: 1;
    width: 300px;
    height: 400px;
}

.card-container-about {
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background: black;
    align-self: center;
    margin-top: 70px;
}

.card-container-about,
.card-container-about * {
    box-sizing: content-box;
}

.card-about {
    margin: 20px 40px 40px 20px;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

.front {
    position: absolute;
}

.card-about .front {
    border: solid 10px whitesmoke;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.5s;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card-about:hover .front {
    transform: rotateY(-180deg);
}

.card-about .back {
    border: solid 10px whitesmoke;
    width: 100%;
    height: 100%;
    background: #1d1d1d;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);


}

.card-about:hover .back {
    transform: rotateY(0deg);
}

.card-about .back .details {
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card-about .back .details .caption {
    font-weight: 100;
    font-style: italic;
}

.card-about .back .details .caption,
h2,
span {
    color: whitesmoke;
}

.social-icon {
    padding: 10px;
}

.social-icon a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 50%;
    transition: 0.5s;
}

.social-icon a .fab {
    line-height: 36px;
}

.social-icon a:hover {
    background: rgb(104, 240, 215);
}
.social-icon a:hover i {
    transition: 0.5s;
    color: #333;
}

/*second about section*/

@media (min-width: 45em) {
    #our-story-card {
        flex-direction: row;
        width: 100%;
    }
    #capstone-card h2 {
        font-size: 1.875rem;
        font-weight: 700;
        font-family: Oswald,Arial Narrow,sans-serif;
        text-transform: uppercase;
    }
    #capstone-card {
        font-size: 1rem;
    }
    .story .story-title--desktop {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .story .block_text {
        font-size: 1.875rem;
        margin-bottom: 3.75rem;
    }

    .second-weeks-card {
        display: none;
    }

}
@media (min-width: 768px) {
    .first-card {
        margin-left: 80px;

    }
}
@media (max-width: 767px) {
    .weeks-card {
        display: none!important;
    }

    .first-card {
        margin-left: 0;
        width: 300px;
    }

    #capstone-card {
        height: 0!important;
    }
}

.story .block_text {
    width: 60%;
    text-align: center;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: .3px;
    margin-bottom: 31px;
}

.story__name {
    font-family: Oswald,Arial Narrow,sans-serif;
    text-transform: uppercase;
    color: white;
    margin-left: 80px;
}

.first-card {
    margin-top: 250px;
}

.our-story-card {
    color: white;
}

.our-story-card h2{
    color: white;
    text-shadow: 0 0 5px #a1cca5;
}

.about-names {
    text-shadow: 0 0 5px #a1cca5;
}

#capstone-card h2 {
    text-align: center;
    padding-left: 0;
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 1.125rem;
}
#capstone-card p {
    font-size: .875rem;
    line-height: 1.5;
    margin: 1.5rem auto;
    width: 100%;
    text-align: left;
    font-weight: 300;
}
#capstone-card {
    flex: 0 0 30%;
    min-height: 18.75rem;
    min-width: 20rem;
    overflow: auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: 300px;
    height: 570px;
    }

.week-effects {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    background-color: #709775;
    color: palegoldenrod;
    cursor: default;
}

.week-effects:hover {
    box-shadow: 0 5px 35px 0 rgba(0,0,0,.1);
    text-shadow: 0 0 5px #A1CCA5;
}

.week-effects:hover::before, .week-effects:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: #A1CCA5;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.week-effects:hover:after {
    background: #415D43;
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0;
        left: 5px;
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0;
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }
    12% {
        top: -2px;
        right: 2px;
    }
    25% {
        top: 0;
        right: 5px;
    }
    37% {
        top: 2px;
        right: 2px;
    }
    50% {
        top: 5px;
        right: 0;
    }
    62% {
        top: 2px;
        right: -2px;
    }
    75% {
        top: 0;
        right: -5px;
    }
    87% {
        top: -2px;
        right: -2px;
    }
    100% {
        top: -5px;
        right: 0;
    }
}
#hidden {
    visibility: hidden;
}
#week-1 {
}

#week-2 {

}

#week-3 {
}
#week-4 {
}
