.createGroupDiv {
    background-color: #4C4C4C;
    color: white;
    border-radius: 10px;
    padding: .75em;
    margin-top: 3em;
    width: 70%;
}

.groupGreenButton {
    background-color: #A1CCA5;
    color: black;
}

.groupGreenButton:hover {
    background-color: #4eb455;
}


@media (max-width: 768px) {
    .createGroupDiv {
        width: 80%;
    }
}
