.groupDiv {
    text-decoration: none;
    color: black !important;
}

.groupDiv:hover {
    cursor: pointer;
    color: black !important;
}

.groupDiv:visited {
    cursor: pointer;
    color: black !important;
}

.groupDiv:active {
    cursor: pointer;
    color: black !important;
}

.eventDiv {
    text-decoration: none;
    color: black !important;
}

.eventDiv:hover {
    cursor: pointer;
    color: black !important;
}

.eventDiv:visited {
    cursor: pointer;
    color: black !important;
}

.eventDiv:active {
    cursor: pointer;
    color: black !important;
}

.discoverContainer {
    background-color: #181818;
    border-radius: 10px;
    padding: 0px 1em;
}

.createEventBtn {
    background-color: #A1CCA5;
    color: black;
}

.createGroupBtn {
    background-color: #a1cca5;
    color: black;
}

.createEventBtn:hover {
    background-color: #4eb455;
}

.createGroupBtn:hover {
    background-color: #4eb455;
}

.discoverTitle {
    font-weight: bolder;
    margin-top: 1em;
    font-size: 1.5em;
}

.discoverLocation {
    margin-top: 1em;
}

.eventDate {
    text-align: end;
    padding-right: 2em;
    margin-bottom: 0px;
}

.groupMembers {
    text-align: end;
    padding-right: 2em;
    margin-bottom: 0px;
}

.media-scroller {
    --_spacer: .5em;
    display: grid;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-scroller::-webkit-scrollbar-track {
    background: #181818;
}

.media-scroller::-webkit-scrollbar-thumb {
    background: #4eb455;
}

.media-element {
    color: white;
    padding: 1em;
    background-color: #404040;
    border-radius: 10px;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}

.section-title {
    padding-inline-start: 6em;
    margin-block: 9em 3em;
}

.discoverItemImg {
    inline-size: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.headerImgDiv {
    position: relative;
    text-align: center;
}

.featuredTitle {
    position: absolute;
    top: 45%;
    left: 10%;
}

.discoverFeaturedEventImg {
    width: 100%;
    aspect-ratio: 21/9;
    border-radius: 10px;
}

.featuredSubTitle {
    color: white;
    font-size: 1.5em;
}

.featuredSubDetails {
    color: white;
    font-size: .75em;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .media-scroller {
        --_spacer: .5em;
        display: grid;
        gap: 1em;
        grid-auto-flow: column;
        grid-auto-columns: 100%;

        padding: 0 var(--_spacer) var(--_spacer);

        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .featuredSubTitle {
        color: white;
        font-size: 1.5em;
    }

    .featuredSubDetails {
        color: white;
        font-size: .75em;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .media-scroller {
        --_spacer: .5em;
        display: grid;
        gap: 1em;
        grid-auto-flow: column;
        grid-auto-columns: 50%;

        padding: 0 var(--_spacer) var(--_spacer);

        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .featuredSubTitle {
        color: white;
        font-size: 2em;
    }

    .featuredSubDetails {
        color: white;
        font-size: 1em;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .media-scroller {
        --_spacer: .5em;
        display: grid;
        gap: 1em;
        grid-auto-flow: column;
        grid-auto-columns: 30%;

        padding: 0 var(--_spacer) var(--_spacer);

        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .featuredSubTitle {
        color: white;
        font-size: 4em;
    }

    .featuredSubDetails {
        color: white;
        font-size: 1.5em;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/

/*// XX-Large devices (larger desktops, 1400px and up)*/
/*@media (min-width: 1400px) { ... }*/