.feature-card{
    background-color: #415D43;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
}

.home-button{
    justify-content: center;
}

.login-btn{
    margin-right: 10px;
    background-color: #4C4C4C;
}

.features-title{
    margin-bottom: 20px;
}
.photo{
    height: 100%;
    aspect-ratio: 18/9;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.welcome-photo{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.welcome-text{
    position: absolute;
    top: 36%;
    left: 7%;
    right: 7%;
}
.welcome-statement{
    color: white;
    margin-bottom: 30px;
    text-align: center;
    animation: moveInTop 1s ease-out;
}
.login-btn {
    animation: moveInLeft 2s ease-out;
    border-radius: 30px;
}
.register-btn {
    animation: moveInRight 2s ease-out;
    border-radius: 30px;
}
.features-title {
    /*animation: moveInRight 1s ease-out;*/
}
.register-btn{
    background-color: #415D43;!important;
}
.home-card-1 {
    animation: moveInLeft 2s ease-out;
}

.home-card-2 {
    animation: moveInBottom 1s ease-out;
}

.home-card-3 {
    animation: moveInRight 2s ease-out;
}

@media (max-width: 576px) {
    .welcome-text{
        position: absolute;
        top: 6%;
    }

    .homeTopRow {
        margin-bottom: 5em;
    }
    .photo {
        height: 130%;
    }
}

