.navbar-profile {
    background-color: transparent;
    border-color: transparent;
}

.dropstart .dropdown-toggle::before {
    vertical-align: .25em;
}

.navbar-profile:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent;
}

.navbar-profile:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent;
}

.navbar-profile:active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent;
}

.logo {
    font-size: 1em;
}

.logo-container {
    background-image: url("../images/logo.png");
    margin-top: 1em;
    width: 12em;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.logoNavLink {
    height: 100%;
    width: 100%;
}