.shadow {
    filter: drop-shadow(0px 0px 3px black);
}

.shadow-profile-picture {
    border: 4px solid #404040;
}

.shadow-light {
    filter: drop-shadow(0px 0px 5px white);
}

body {
    background-color: black;
}

.profile-header-photograph {
    background-repeat: no-repeat;!important;
    background-size: cover;!important;
}

.profile-card-header {
    margin-left: 10px;
    margin-top: 10px;
}

.go-to-profile-top {
    margin-left: 5px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.minutes-ago {
    margin-left: 5px;
    margin-top: 26px;
}

.comment-users-posts {
    border-radius: 18px;
    background-color: #4C4C4C;
    border: none;
    width: 80%;
    color: black;
}

::placeholder {
    color: darkgray;
}
.edit-bio{
    background-color: #181818;
    color: white;
}

.edit-post-button {
    margin-left: auto;
    margin-right: 10px;
    color: #a1cca5;
}
.edit-post-button:hover{
    color: #4C4C4C;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
}

.card-title {
    margin-left: 5px;
}

.posts-page {
    display: none;

}

.about-page {
    display: none;
}

.friends-page {
    display: none;
}

.comments-link {
    color: #a1cca5;
    background-color: transparent;
    margin-right: 42px;
    border: none;
    text-decoration: underline;
}
.delete-link{
    color: #a1cca5;
    background-color: transparent;
    margin-right: 42px;
    border: none;
    text-decoration: underline;
}

.delete-link:hover{
    cursor: pointer;
    color: #4C4C4C;
}
.comments-link:hover{
    cursor: pointer;
    color: #4C4C4C;
}

.comments-show{
    display: none;
}

.show-users-group-profile{
    text-decoration: none;
    color: white;
}

.show-users-group-profile:hover{
    cursor: pointer;
    color: #4C4C4C;
}

.show-users-friends-profile{
    text-decoration: none;
    color: white;
}

.show-users-friends-profile:hover{
    cursor: pointer;
    color: #4C4C4C;
}

.go-to-profile-top:hover{
    cursor: pointer;
    color: #4C4C4C;
}

.submit-comment{
    border-radius: 18px;
    color: white;
    background-color: black;
    width: 15%;
}

.submit-comment-only{
    border-radius: 18px;
    color: white;
    background-color: black;
    width: 15%;
}
.group-img-profile{
    display: flex;
    justify-content: center;
}

.user-profile-top{
    background-color: #404040;
}

 .navbar{
     z-index: 1000;
 }

 .border-bottom-profile{
     border-bottom: 1px solid #A1CCA5;
 }

 .when-active{
     border-bottom: 1px solid #a1cca5;
 }

 .btn-lightG-2{
     color: #a1cca5;
 }
.btn-delete{
    color: #9d2e2e;
}

.btn-lightG-2:focus {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: none;
}
.back-to-home{
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.back-to-home:hover{
    cursor: pointer;
    color: #4C4C4C;
}

.card-profile{
    background-color: #181818;
    filter: drop-shadow(0px 0px 2px white);
    border-radius: 10px;
}

 .card-text-profile{
     color: white;
 }

 .card-title-profile{
     color: white;
 }

 .card-subtitle-profile{
     color: white;
 }

 .card-body-profile{
     color: white;
 }
 .bio-text{
     color: #CCDBDC;
 }
.content-within-comments{
    color: #CCDBDC;
}
.comment-users-posts{
    color: #CCDBDC
}
.modal-content{
    background-color: #4C4C4C;
    color: white;
}

@media (max-width: 425px) {
.submit-comment{
    display: flex;
    width: 30%;
    margin-top: 5px;
}
    .comment-users-posts{
        width: 100%;
    }
}





