.singleGroupPageEditForm {
    display: none;
}

.group-comment-profile-pic {
    width: 65px;
    height: 65px;
    border: 1px solid black;
    border-radius: 50%;
}

.group-bg-img {
    inline-size: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
}