.singleEventPageEditForm {
    display: none;
    background-color: #4C4C4C;
    padding: 1em;
    border-radius: 10px;
    color: white;
    margin-top: 2em;
}

.deleteIcon {
    display: none;
}

.event-comment-profile-pic {
    width: 65px;
    height: 65px;
    border: 1px solid black;
    border-radius: 50%;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
}

#singleEventMap {
    height: 420px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    border-radius: 10px;
}

.eventTitles {
    background-color: #4C4C4C;
    border-radius: 10px;
    color: white;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
}

.eventCol {
    background-color: #4C4C4C;
    border-radius: 10px;
    color: white;
    padding: 1em;
    margin-top: 2em;
}

.eventComments {
    background-color: #4C4C4C;
    border-radius: 10px;
    padding: 1em;
    color: white;
    margin-bottom: 10em;
}

.eventLeftCol {
    background-color: #4C4C4C;
}

.eventComment {
    color: black;
}

#from {
    width: 100%;
}

#to {
    width: 100%;
}

.eventCommentCollapseBtn {
    background-color: #A1CCA5;
    color: black;
}

.eventCommentCollapseBtn:hover {
    background-color: #4eb455;
}

.comment-btn {
    background-color: #A1CCA5;
    color: black;
}

.comment-btn:hover {
    background-color: #4eb455;
}

#cancelEdits {
    background-color: #A1CCA5;
    color: black;
}

#cancelEdits:hover {
    background-color: #4eb455;
}

#submitEditedEventBtn {
    background-color: #A1CCA5;
    color: black;
}

#submitEditedEventBtn:hover {
    background-color: #4eb455;
}

.editEventBtn {
    background-color: #A1CCA5;
    color: black;
}

.editEventBtn:hover {
    background-color: #4eb455;
}

.eventContainer {
    background-color: #181818;
    border-radius: 10px;
    padding: 0 1em;
}

@media (max-width: 768px) {
    .eventComments {
        margin-bottom: 1em;
    }
}